<div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Operation</th>
                <th>Incident Type</th>
                <th>Labor Category</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>