{{!
    {
        "name": "layout",
        "description": "Edit sub application layout",
    }
}}
<!-- Alert -->
<div class="row" id="weekly-alert"></div>

<!-- Content -->
<div class="row" id="weekly-edit-content"></div>