{{!
    {
        "name": "list",
        "desc": "Entry list container"
    }
}}
<div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-12">
        <button class="btn btn-primary js-add" type="button" role="button">Create New Entry</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Week Of</th>
                <th>Operation</th>
                <th>Created On</th>
                <th>By</th>
                <th>Last Modified</th>
                <th>By</th>
                <th class="text-center">Published</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
