{{!
    {
        "name": "layout",
        "desc": "AFE sub application layout",
        "styles": ["apps/afe/templates/layout"]
    }
}}
<div class="row js-title-row">
    <div class="col-sm-12 page-header">
        <h3>Approval For Expense</h3>
    </div>
</div>
<div class="row" id="afe-content"></div>
