<div class="row">
    <div class="col-sm-12">
        <button type="button" role="button" class="btn btn-default js-back">Back to Project List</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert hidden" id="afe-message" style="margin-top: 15px; margin-bottom: 0;"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xlg-3">
        <div class="row">
            <div class="col-sm-12 col-lg-9 col-xlg-12">
                <div class="page-header"><h3>Project Info</h3></div>
                <div class="row" id="afe-project"></div>
            </div>
            <div class="col-sm-12 col-lg-3 col-xlg-12">
                <div class="page-header"><h3>Financial Summary</h3></div>
                <div class="row" id="afe-summary"></div>
            </div>
        </div>

    </div>
    <div class="col-lg-12 col-xlg-9">
        <div class="page-header"><h3>Requested Amounts</h3></div>
        <div class="row" id="afe-requested">
            <div class="col-sm-12"><p>There is no project currently selected.</p></div>
        </div>
        <div class="page-header"><h3>Justification Amounts</h3></div>
        <div class="row" id="afe-justification">
            <div class="col-sm-12"><p>There is no project currently selected.</p></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button type="button" role="button" class="btn btn-danger js-delete" id="afe-project-delete">Delete</button>
        <button type="button" role="button" class="btn btn-primary pull-right js-submit">Submit</button>
        <button type="button" role="button" class="btn btn-primary pull-right js-save" style="margin-right: 15px;">Save</button>
    </div>
</div>


