<ul class="list-group">
    <li class="list-group-item active">My Tasks <span class="label label-info label-as-badge pull-right" style="margin-top: 3px;">{{count}}</span></li>
    <div id="tasks"></div>
</ul>