<td class="js-operations">{{Operations}}</td>
<td class="js-incident-category">{{Incident_Category}}</td>
<td class="js-labor-category">{{Labor_Category}}</td>
<td class="js-comments">{{Comments}}</td>