<div class="row">
    <div class="col-sm-12 col-md-6">
        <p>Lost Time Incident</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>This Week</th>
                <th>Year to Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Hourly</td>
                <td>{{#test}}{{this}}{{/test}}</td>
            </tr>
            <tr>
                <td>Salaried</td>
                <td></td>
            </tr>
            <tr>
                <td>Contract</td>
                <td></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-6">
        <p>MSHA Reportable</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>This Week</th>
                <th>Year to Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Hourly</td>
                <td></td>
            </tr>
            <tr>
                <td>Salaried</td>
                <td></td>
            </tr>
            <tr>
                <td>Contract</td>
                <td></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Operation</th>
                <th>Incident Category</th>
                <th>Labor Category</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>