<div class="row">
    <div class="col-xs-3">
        <button type="button" class="btn btn-primary js-new" role="button" id="afe-new-project">New AFE</button>
    </div>
    <div class="col-sm-offset-5 col-xs-9 col-sm-4">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="afe-search-projects" placeholder="Search Projects">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>Work Order</th>
                <th>Description</th>
                <th>Operation</th>
                <th>Created On</th>
                <th>Last Modified</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>