{{!
{
    "name": "layout"
    "desc": "sub layout for the report sub application. Contains paginators to move through reports"
}
}}
<!-- Pagination -->
<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pager">
                <li class="previous no-print"><a href="#" class="js-previous-op">Previous</a></li>
                <li class="text-center"><h3 id="js-current-op" style="display: inline;"></h3></li>
                <li class="next no-print"><a href="#" class="js-next-op">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- Report -->
<div class="row" id="weekly-report-content"></div>