a#weekly-home {
    padding: 5px;
    content: url('/siteassets/images/wcc_ring_small.png');
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

#weekly-form .control-label {
    text-align: left !important;
}

.well h3 {
    margin-top: 0;
}