{{!
{
    "name": "opLayout",
    "description": "A navbar dropdown shell"
}
}}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span id="active-operation">Select</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu"></ul>
</li>