<div id="afe-modal"></div>
<div class="container-fluid">
    <div class="row">
        <div class="page-header" style="margin-top: 0;">
            <h2>Approval For Expense</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="afe-content"></div>
        <!--<div class="col-lg-12 col-xlg-3" id="afe-sidebar"></div>
        <div class="col-lg-12 col-xlg-9" id="afe-content"></div>-->
    </div>
</div>