<div class="row" style="margin-bottom: 20px;">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" id="inventory-new">Add Entry</button>
    </div>
</div>
<div id="inventory-list"></div>